/*popup*/
.pop-up-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  color: white;
  flex-direction: row-reverse;
  height: 80px;
}

.pop-up-title {
  text-align: left;
  margin-left: 20px;
}

.pop-up-phone {
  text-align: right;
  margin-right: 10px;
}

.information-icon {
  margin-right: 10px;
  margin-left: 10px;
  border: 1px white solid;
  border-radius: 9999px;
  padding: 10px;
}

.phone-icon {
  margin-left: 10px;
}

/*banner*/
/* CSS for centering the banner logo */
.banner-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 200px; /* Set the desired height */
  background-color: #f5f5f5; /* Set the background color */
}

.banner-logo {
  max-width: 100%;
  max-height: 100%;
  height: 200px;
}

/*navbar*/
.navbar-container {
  background-color: #f8f9fa;
  padding: 10px 0;
  position: sticky;
  /* Use sticky position to keep the navbar at the top initially */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
}

.scrolled .navbar-brand {
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 1.5rem;
  transition: font-size 0.3s ease;
  background-color: wheat;
  border-radius: 30px;
  padding: 10px;
}



/*product card*/
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
  font-weight: 600;
  border-radius: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-link:hover {
  background-color: #f5f5f5;
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-card img {
  max-width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.product-image {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.product-description {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin: 0;
}

.product-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 45px;
}

.product-button:hover {
  background-color: #FF0000;
}


/* Style for Products */
.products-component {
  text-align: center;
  padding: 20px;
}

.hot-deals-heading {
  font-size: 60px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-container {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  gap: 20px;
}

.filter-select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50vw;
  border-radius: 45px;
  border-color: #007bff;
  direction: rtl;
}

/*search input*/
.inputBox_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 14em;
  height: fit-content;
  background-color: white;
  border-radius: 0.8em;
  overflow: hidden;
  direction: rtl;
  border: #007bff 1px solid;
  margin: 0 auto;
  width: 60vw;
}

.search_icon {
  height: 1em;
  padding: 0 0.5em 0 0.8em;
  fill: #abb2bf;
}

.inputBox {
  background-color: transparent;
  outline: none;
  width: 100%;
  border: 0;
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 1em;
}

::placeholder {
  color: #abb2bf;
}


/*product*/
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.8rem;
  margin: 0;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
  text-align: center;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin: 0;
}

/*related products*/
.related-products {
  margin-top: 40px;
}

.related-products-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.related-products-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.related-products-list {
  display: flex;
  justify-content: space-between;
}

/* Additional styling for related product cards */
.related-product {
  width: calc(33.33% - 20px);
  /* Adjust the width as needed */
  margin: 0;
}

.related-product .product-image {
  height: 150px;
  /* Set the desired height */
}

.related-product .product-title {
  font-size: 1rem;
  /* Set the desired font size */
}

.related-product .product-description {
  font-size: 0.8rem;
  /* Set the desired font size */
}

.related-product .product-price {
  font-size: 1rem;
  /* Set the desired font size */
}

/*footer*/
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .pop-up-component {
    display: none;
  }

  .scrolled .navbar-brand {
    height: 20px;
    font-size: 0.8rem;
    transition: font-size 0.3s ease;
  }

  .navbar-container {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
  }

  .banner-component {
    margin-top: 200px;
  }

  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .filter-select,
  .filter-input {
    width: 100%;
    max-width: 250px;
  }

}